.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin:40px;
  border-top: 5px solid #686464;
}
.footer-button{
  position: relative;
  width: 120px;
  margin: 10px 0;
  overflow: hidden;
  cursor: pointer;
  height: 30px;
  border: 0;
  border-radius: 5px;
  border-style: none;
  color:#f1f1f1;
  background-color: #686464
}
.footer-button:hover{
  background-color:#a0575a;
}
.footer-button:active, .footer-button:focus {
  outline: none;
}
.footer-button:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}
.footer-button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
@media screen and (max-width: 400px){
  .footer{
   flex-direction: column;
   flex-flow: column-reverse;
 height: 110px;
 margin-bottom: 10px;
  }}