.form{
  margin: 0 auto;
   margin-top: 120px;
   padding: 10px;
   display: flex;
   flex-direction: column;
   width: 300px;
   background-color: #b9b9b2;
   opacity: 0.7;
   border-radius: 5px;
 }
 .input-form{
   margin-bottom: 10px;
 height: 38px;
   border: 0;
   padding-left: 14px;
   border-radius: 5px;
   background-color: #080808;
   font-size: 12px;
   line-height: 22px;
   color: #ffffff;
   text-align: left;
   letter-spacing: 0.01em;
 }
 .input-form::placeholder {
   color: #f48c8f;
 }
 
 .input-form::-ms-placeholder {
   color: #f48c8f;
 }
 .input-form::-moz-placeholder {
   color: #f48c8f;
 }
 .input-form:-webkit-placeholder {
   color: #f48c8f;
 }
 
 .input-form :focus {
   outline: 2px solid #dfe221;
 }
 .submit:active, .submit:focus {
   outline: none;
 }
 .submit::-moz-focus-inner {
   border: 0;
 }
 .submit{
   position: relative;
   overflow: hidden;
   cursor: pointer;
   height: 38px;
   border: 0;
   border-radius: 15px;
   border-style: none;
   color:#f48c8f;
   background-color: #080808;
 }
 .submit:hover{
   background-color: rgba(0, 0, 0, 0.822);
 }
 .submit:after {
   content: "";
   background: #f1f1f1;
   display: block;
   position: absolute;
   padding-top: 300%;
   padding-left: 350%;
   margin-left: -20px !important;
   margin-top: -120%;
   opacity: 0;
   transition: all 0.8s
 }
 .submit:active:after {
   padding: 0;
   margin: 0;
   opacity: 1;
   transition: 0s
 }
 .registration{
   display: flex;
   align-items: center;
   justify-content: center;
 }
 .register-button{
   position: relative;
   width: 200px;
   margin: 10px 0;
   overflow: hidden;
   cursor: pointer;
   height: 38px;
   border: 0;
   border-radius: 15px;
   border-style: none;
   color:#f1f1f1;
   background-color: #686464
 }
 .register-button:hover{
   background-color:#a0575a;
 }
 .register-button:active, .register-button:focus {
   outline: none;
 }
 .register-button:after {
   content: "";
   background: #f1f1f1;
   display: block;
   position: absolute;
   padding-top: 300%;
   padding-left: 350%;
   margin-left: -20px !important;
   margin-top: -120%;
   opacity: 0;
   transition: all 0.8s
 }
 .register-button:active:after {
   padding: 0;
   margin: 0;
   opacity: 1;
   transition: 0s
 }
 @media screen and (max-width: 400px){
   .form{
     width: 250px;
     
   }
 }